[[extend 'layout.html']]

<style>.custom-bg{background-color:rgb(0, 163, 109)}</style>

<div class="section custom-bg">
    <div class = "container block">
        <div class = "tile is-ancestor is-vertical">
            <div class = "tile is-parent has-text-centered">
                <div class = "tile">  </div>
                <div class = "tile is-child has-text-left">
                    <h1 class="title">Edit your profile! 
                    </h1>
                    [[=form]]
                </div>
                <div class = "tile"></div>
            </div>
        </div>
    </div>
</div>