[[extend 'layout.html']]

<style>
   [v-cloak] {
      display: none;
   }
</style>

<style>
   .card_color {
      background-color: rgb(154, 207, 154);
   }
</style>

<style>
   .background {
      background-image: linear-gradient(rgb(101, 143, 101), rgb(101, 119, 99), rgb(99, 91, 91))
   }
</style>

<div class="section background" id="vue-target">
   <body>
      <title>Dashboard</title>
      <div class="container block">
         <div class="tile is-ancestor">
            <div class="tile is-parent has-text-right is-2">
               <div class="tile is-child is-12" v-if="user_info.length>0">
                  <img :src="user_info[0].picture" style="max-width:100%;max-height:100%;" />
                  <h1 class="title">{{user_info[0].first_name}} {{user_info[0].last_name}}
                     <br>
                     <button class="button is-right"
                        style="background-color:transparent;border:none;outline:none;float:right;padding:2px 5px 2px 5px"
                        @click="show_followers(true)">
                        Followers: {{num_followers}}
                     </button>
                     <button class="button is-right"
                        style="background-color:transparent;border:none;outline:none;float:right;padding:2px 5px 2px 5px"
                        @click="show_following(true)">
                        Following: {{num_following}}
                     </button>
                     <br>
                  </h1>
               </div>
            </div>
            <div class="tile is-vertical is-parent is-8">
               <h1 class="title">Dashboard
                  <a class="button" href="[[=URL('profile', cur_user_id)]]" style="float:right;">
                     <span class="icon"><i class="fa fa-fw fa-user"></i></span><span>Profile</span>
                  </a>
               </h1>
               <div v-if="add_mode" class="tile is-child">
                  <div class="form">
                     <div class="field">
                        <div class="tile">
                           <div class="tile is-9">
                              <textarea class="textarea" placeholder="Enter new post here" v-model="add_post"></textarea>
                           </div>
                           <div class="tile is-3">
                              <textarea class="textarea" placeholder="Enter tags here" v-model="add_tags"></textarea>
                           </div>
                        </div>
                     </div>
   
                     <div class="field">
                        <div class="control">
                           <div class="tile">
                              <input type="submit" @click="add_posts" value="Post" class="button is-primary">
                              <div>&nbsp;</div>
                              <input type="submit" @click="set_add_status(false)" value="Cancel"
                                  class="button is-warning">
                              <div>&nbsp;</div>
                              <span class="file">
                                  <label class="file-label">
                                      <input class="file-input" type="file"
                                          accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
                                          @change="upload_post_image($event)">
                                      <span class="file-cta">
                                          <span class="file-label">
                                              <span><i class="fa fa-upload"></i></span>
                                          </span>
                                      </span>
                                  </label>
                              </span>
                          </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div v-if="!add_mode" class="tile is-child">
                  <button @click="set_add_status(true)" class="button is-primary">
                     <i class="fa fa-plus fa-fw" style="color:black"></i><span style="color:black">&nbsp;New Post</span>
                  </button>
               </div>
   
               <div class="tile is-child box" style="background-color:rgba(224,224,224,0.418); word-wrap: break-word;"
                  v-for="r in rows.slice().reverse()">
                  <article class="media">
                     <figure class="media-left">
                        <p class="image is-48x48">
                           <img :src="r.picture">
                        </p>
                     </figure>
                     <div class="media-content">
                        <div class="content">
                           <p>
                              <strong>{{r.first_name}} {{r.last_name}}</strong>
                              <br>
                              <span v-if="r.image.length>0">
                                 <span v-for="i in r.image">
                                     <img :src="i">
                                 </span>
                                 <br>
                             </span>
                              {{r.post}}
                              <br>
                              <span v-if="r.tags" style="color:grey">
                                 Tags: {{r.tags}}
                                 <br>
                              </span>
                              <span style="color:rgba(1, 65, 161, 0.63)">
   
                                 <span @click="set_likes(r._idx)">
                                    <i class="fa fa-2x fa-flip-horizontal"
                                       :class="{'fa-thumbs-o-up':!r._like, 'fa-thumbs-up':r._like}"></i>
                                 </span>
                                 <button class="button is-normal modal-button"
                                    style="background-color:transparent;border:none;outline:none;padding:2px 5px 2px 5px"
                                    @click="show_names('liked', r._idx)">
                                    {{r._lnum}}
                                 </button>
   
                                 <span @click="set_dislikes(r._idx)">
                                    <i class="fa fa-2x"
                                       :class="{'fa-thumbs-o-down':!r._dislike, 'fa-thumbs-down':r._dislike}"></i>
                                 </span>
                                 <button class="button is-normal modal-button"
                                    style="background-color:transparent;border:none;outline:none;padding:2px 5px 2px 5px"
                                    @click="show_names('disliked', r._idx)">
                                    {{r._dnum}}
                                 </button>
                                 <button class="button" @click="set_comment_status(true, r._idx)"
                                    style="background-color:transparent;border:none;outline:none;padding:2px 5px 2px 5px;color:rgba(1, 65, 161, 0.63)">
                                    <i class="fa fa-comments"></i><span>&nbsp;Comment</span>
                                 </button>
   
                              </span>
   
                              <span v-if="r.email === cur_user">
                                 <button @click="delete_posts(r._idx)" class="button"
                                    style="float:right;background-color:transparent;border:none;outline:none">
                                    <i class="fa fa-trash"></i>
                                 </button>
                              </span>
                           </p>
   
                        </div>
                        <div v-if="r.commenting">
                           <div v-if="add_comment_mode" class="media">
                              <div class="media-content">
                                 <div class="content">
                                    <div class="form">
                                       <div class="field">
                                          <textarea class="textarea" placeholder="Enter new comment here"
                                             v-model="add_comment"></textarea>
                                       </div>
   
                                       <div class="field">
                                          <div class="control">
                                             <input type="submit" @click="add_comments(r._idx,r.id)" value="Comment"
                                                class="button is-primary">
                                             <input type="submit" @click="set_comment_status(false,r._idx)" value="Cancel"
                                                class="button is-warning">
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
   
                        <article class="media" v-for="c in r.comments">
                           <figure class="media-left">
                              <p class="image is-48x48">
                                 <img :src="c[0].picture">
                              </p>
                           </figure>
                           <div class="media-content">
                              <div class="content">
                                 <p>
                                    <strong>{{c[0].first_name}} {{c[0].last_name}}</strong>
                                    <br>
                                    {{c[0].comment}}
                                    <span v-if="c[0].email === cur_user">
                                       <button @click="delete_comments(r._idx,c[0].id)" class="button"
                                          style="float:right;background-color:transparent;border:none;outline:none">
                                          <i class="fa fa-trash"></i>
                                       </button>
                                    </span>
                                 </p>
   
                              </div>
   
                           </div>
                        </article>
                     </div>
                  </article>
               </div>
            </div>
            <div class="tile is-parent is-vertical is-2">
               <div>
                  <input type="checkbox" @click="change_query()">
                  Tags
               </div>
               <div class="control block">
                  <input class="input" type="text" v-model="query" @keyup="search" placeholder="Search" />
               </div>
               <div class="tile is-child is-12" v-for="r in results">
                  <div class="tile">
                     <img :src="r.picture" style="max-width: 40px;max-height: 40px;">
                     <a v-bind:href="'[[=URL()]]profile/' + r.id">{{r.name}}</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
   
   <div class="modal" :class="{'is-active':show_followers_modal}">
      <div class="modal-background"></div>
      <div class="modal-card">
         <header class="modal-card-head has-background-success-dark">
            <p class="modal-card-title">Users that follow {{cur_user_name}}:</p>
            <button class="delete" aria-label="close" @click="close_modal"></button>
         </header>
         <section class="modal-card-body card_color">
            <div class="tile is-ancestor" v-for="n in followers_list">
               <div class="tile is-parent"
                  style="display:flex;align-items:center;width:100%;justify-content:space-between">
                  {{n.name}}
                  <a v-bind:href="'[[=URL()]]profile/' + n.follower" class="button"
                     style="background-color:transparent;border:none;outline:none;">
                     <span class="icon"><i class="fa fa-fw fa-user"></i></span><span>Profile</span>
                  </a>
               </div>
            </div>
         </section>
         <footer class="modal-card-foot has-background-success-dark"></footer>
      </div>
   </div>

   <div class="modal" :class="{'is-active':show_following_modal}">
      <div class="modal-background"></div>
      <div class="modal-card">
         <header class="modal-card-head has-background-success-dark">
            <p class="modal-card-title">Users that {{cur_user_name}} follows:</p>
            <button class="delete" aria-label="close" @click="close_modal"></button>
         </header>
         <section class="modal-card-body card_color">
            <div class="tile is-ancestor" v-for="n in following_list">
               <div class="tile is-parent"
                  style="display:flex;align-items:center;width:100%;justify-content:space-between">
                  {{n.name}}
                  <a v-bind:href="'[[=URL()]]profile/' + n.following" class="button"
                     style="background-color:transparent;border:none;outline:none;">
                     <span class="icon"><i class="fa fa-fw fa-user"></i></span><span>Profile</span>
                  </a>
               </div>
            </div>
         </section>
         <footer class="modal-card-foot has-background-success-dark"></footer>
      </div>
   </div>

   <div class="modal" :class="{'is-active':show_modal}">
      <div class="modal-background"></div>
      <div class="modal-card">
         <header class="modal-card-head has-background-success-dark">
            <p class="modal-card-title ">Users that have {{type}} this:</p>
            <button class="delete" aria-label="close" @click="close_modal"></button>
         </header>
         <section class="modal-card-body card_color">
            <div class="tile is-ancestor" v-for="n in names">
               <div class="tile is-parent"
                  style="display:flex;align-items:center;width:100%;justify-content:space-between">
                  {{n.name}}
                  <a v-bind:href="'[[=URL()]]profile/' + n.id" class="button"
                     style="background-color:transparent;border:none;outline:none;">
                     <span class="icon"><i class="fa fa-fw fa-user"></i></span><span>Profile</span>
                  </a>
               </div>
            </div>
         </section>
         <footer class="modal-card-foot has-background-success-dark"></footer>
      </div>
   </div>

</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
   let user_info_url = "[[=XML(user_info_url)]]";
   let add_post_url = "[[=XML(add_post_url)]]";
   let load_posts_url = "[[=XML(load_posts_url)]]";
   let delete_post_url = "[[=XML(delete_post_url)]]";
   let load_likes_url = "[[=XML(load_likes_url)]]";
   let get_likes_url = "[[=XML(get_likes_url)]]";
   let search_url = "[[=XML(search_url)]]";
   let add_comment_url = "[[=XML(add_comment_url)]]";
   let delete_comment_url = "[[=XML(delete_comment_url)]]";

   let cur_user = "[[ =cur_user ]]";
   let cur_user_name = "[[ =cur_user_name ]]";
   let cur_user_id = "[[ =cur_user_id ]]";
</script>
<script src="js/index.js"></script>
[[end]]