[[extend 'layout.html']]

<style>
    .card_color {
        background-color: rgb(154, 207, 154);
    }
</style>

<style>
    .background {
        background-image: linear-gradient(rgb(101, 143, 101), rgb(101, 119, 99), rgb(99, 91, 91))
    }
</style>

<style>
    [v-cloak] {
        display: none;
    }
</style>

<div class="section background" id="vue-target" v-cloak>

    <body>
        <title>Profile</title>
        <div class="container block">
            <div class="tile is-ancestor" v-if="user_info.length>0">
                <div class="tile is-parent has-text-right is-2">
                    <div class="tile is-child is-12">
                        <img :src="user_info[0].picture" style="max-width:100%;max-height:100%;" />
                        <button class="button is-right"
                            style="background-color:transparent;border:none;outline:none;float:right;padding:2px 5px 2px 5px"
                            @click="show_followers(true)">
                            Followers: {{num_followers}}
                        </button>
                        <button class="button is-right"
                            style="background-color:transparent;border:none;outline:none;float:right;padding:2px 5px 2px 5px"
                            @click="show_following(true)">
                            Following: {{num_following}}
                        </button>
                    </div>
                    <br>
                </div>
                <div class="tile is-parent is-8 is-vertical">
                    <h1 class="title">{{user_info[0].first_name}} {{user_info[0].last_name}}
                        <a class="button" style="float:right;" href="[[=URL('index')]]">
                            Dashboard
                        </a>
                    </h1>
                    <div class="tile is-child">
                        <h1>Hardiness Zone: {{user_info[0].hardiness_zone}}
                            <div>{{user_info[0].description}}</div>
                            <br>
                            <span>
                                <button class="button" @click="set_show_post(true)">
                                    <i class="fa fa-user"></i><span>&nbsp;User's Posts</span>
                                </button>
                            </span>
                            <span>
                                <button class="button" @click="set_show_likes(true)">
                                    <i class="fa fa-thumbs-up"></i><span>&nbsp;User's Likes</span>
                                </button>
                            </span>

                            <span v-if="profile">
                                <span v-if="!add_mode">
                                    <button @click="set_add_status(true, 'New')" class="button is-primary"
                                    style="float:right">
                                    <i class="fa fa-plus fa-fw" style="color:black"></i><span
                                        style="color:black">&nbsp;New Post</span>
                                </button>
                                </span>
                            </span>
                            <span v-if="!profile">
                                <span v-if="!following">
                                    <button @click="add_follower(true, page_id)" class="button is-primary"
                                        style="float:right">
                                        <i class="fa fa-user-plus" style="color:black"></i><span
                                            style="color:black">&nbsp;Follow</span>
                                    </button>
                                </span>
                            </span>
                            <span v-if="!profile">
                                <span v-if="following">
                                    <button @click="add_follower(false, page_id)" class="button is-primary"
                                        style="float:right">
                                        <i class="fa fa-user-times" style="color:black"></i><span
                                            style="color:black">&nbsp;Unfollow</span>
                                    </button>
                                </span>
                            </span>
                        </h1>
                    </div>
                    <div v-if="add_mode" class="tile is-child">
                        <div class="form">
                            <div class="field">
                                <div class="tile">
                                    <div class="tile is-9">
                                        <textarea class="textarea" placeholder="Enter new post here"
                                            v-model="add_post"></textarea>
                                    </div>
                                    <div class="tile is-3">
                                        <textarea class="textarea" placeholder="Enter tags here"
                                            v-model="add_tags"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <div class="tile">
                                        <input type="submit" @click="add_posts" value="Post" class="button is-primary">
                                        <div>&nbsp;</div>
                                        <input type="submit" @click="set_add_status(false, 'Cancel')" value="Cancel"
                                            class="button is-warning">
                                        <div>&nbsp;</div>
                                        <span class="file has-name">
                                            <label class="file-label">
                                                <span v-if="finished">
                                                    <input class="file-input" type="file"
                                                    accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
                                                    @change="upload_post_image($event)">
                                                    <span class="file-cta">
                                                        <span class="file-label">
                                                            <span><i class="fa fa-upload"></i></span>
                                                        </span>
                                                    </span>
                                                </span>
                                                <span v-else>
                                                    <a class="button is-loading" disabled></a>
                                                </span>
                                                <span class="file-name has-background-white">
                                                    <span v-if="file_names.length>0">
                                                        <span v-for="f in file_names">
                                                            {{f}}
                                                        </span>
                                                    </span>
                                                    <span v-else>
                                                        Upload Images
                                                    </span>
                                                </span>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-child box"
                        style="background-color:rgba(224,224,224,0.418); word-wrap: break-word;"
                        v-for="r in rows.slice().reverse()">
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-48x48">
                                    <img :src="r.picture">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{r.first_name}} {{r.last_name}}</strong>
                                        <br>
                                        <span v-if="r.image.length>0">
                                            <span v-for="i in r.image">
                                                <img :src="i.image">
                                            </span>
                                            <br>
                                        </span>
                                        {{r.post}}
                                        <br>
                                        <span v-if="r.tags" style="color:grey">
                                            Tags: {{r.tags}}
                                            <br>
                                        </span>
                                        <span style="color:rgba(1, 65, 161, 0.63)">

                                            <span @click="set_likes(r._idx)">
                                                <i class="fa fa-2x fa-flip-horizontal"
                                                    :class="{'fa-thumbs-o-up':!r._like, 'fa-thumbs-up':r._like}"></i>
                                            </span>
                                            <button class="button is-normal modal-button"
                                                style="background-color:transparent;border:none;outline:none;padding:2px 5px 2px 5px"
                                                @click="show_names('liked', r._idx)">
                                                {{r._lnum}}
                                            </button>

                                            <span @click="set_dislikes(r._idx)">
                                                <i class="fa fa-2x"
                                                    :class="{'fa-thumbs-o-down':!r._dislike, 'fa-thumbs-down':r._dislike}"></i>
                                            </span>
                                            <button class="button is-normal modal-button"
                                                style="background-color:transparent;border:none;outline:none;padding:2px 5px 2px 5px"
                                                @click="show_names('disliked', r._idx)">
                                                {{r._dnum}}
                                            </button>

                                        </span>

                                        <button class="button" @click="set_comment_status(true, r._idx)"
                                            style="background-color:transparent;border:none;outline:none;padding:2px 5px 2px 5px;color:rgba(1, 65, 161, 0.63)">
                                            <i class="fa fa-comments"></i><span>&nbsp;Comment</span>
                                        </button>

                                        <span v-if="r.email === cur_user">
                                            <button @click="delete_posts(r._idx)" class="button"
                                                style="float:right;background-color:transparent;border:none;outline:none">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </span>
                                    </p>

                                </div>
                                <div v-if="r.commenting">
                                    <div v-if="add_comment_mode" class="media">
                                        <div class="media-content">
                                            <div class="content">
                                                <div class="form">
                                                    <div class="field">
                                                        <textarea class="textarea" placeholder="Enter new comment here"
                                                            v-model="add_comment"></textarea>
                                                    </div>

                                                    <div class="field">
                                                        <div class="control">
                                                            <input type="submit" @click="add_comments(r._idx,r.id)"
                                                                value="Comment" class="button is-primary">
                                                            <input type="submit"
                                                                @click="set_comment_status(false,r._idx)" value="Cancel"
                                                                class="button is-warning">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <article class="media" v-for="c in r.comments">
                                    <figure class="media-left">
                                        <p class="image is-48x48">
                                            <img :src="c[0].picture">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>{{c[0].first_name}} {{c[0].last_name}}</strong>
                                                <br>
                                                {{c[0].comment}}
                                                <span v-if="c[0].email === cur_user">
                                                    <button @click="delete_comments(r._idx,c[0].id)" class="button"
                                                        style="float:right;background-color:transparent;border:none;outline:none">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </span>
                                            </p>

                                        </div>

                                    </div>
                                </article>
                            </div>
                        </article>
                    </div>

                </div>
                <div class="tile is-parent">
                    <div>
                        <a v-if="profile" class="button"
                            href="[[=URL('edit_profile', cur_user_id, signer=url_signer)]]">
                            <span class="icon"><i class="fa fa-fw fa-cog"></i></span><span>Edit Profile</span>
                        </a>
                    </div>
                    <div>&nbsp;</div>
                    <div v-if="profile">
                        <div class="file">
                            <label class="file-label">
                                <input class="file-input" type="file" @change="upload_file($event)">
                                <span class="file-cta">
                                    <span class="file-label">
                                        <span><i class="fa fa-upload"></i><span>Upload Profile Pic</span></span>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent"></div>
                <div class="tile is-parent has-text-left is-8">

                </div>
                <div class="tile is-parent"></div>
            </div>
        </div>
    </body>

    <div class="modal" :class="{'is-active':show_followers_modal}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head has-background-success-dark">
                <p class="modal-card-title">Users that follow {{cur_user_name}}:</p>
                <button class="delete" aria-label="close" @click="close_modal"></button>
            </header>
            <section class="modal-card-body card_color">
                <div class="tile is-ancestor" v-for="n in followers_list">
                    <div class="tile is-parent"
                        style="display:flex;align-items:center;width:100%;justify-content:space-between">
                        {{n.name}}
                        <a v-bind:href="'[[=URL()]]profile/' + n.follower" class="button"
                            style="background-color:transparent;border:none;outline:none;">
                            <span class="icon"><i class="fa fa-fw fa-user"></i></span><span>Profile</span>
                        </a>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot has-background-success-dark"></footer>
        </div>
    </div>

    <div class="modal" :class="{'is-active':show_following_modal}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head has-background-success-dark">
                <p class="modal-card-title">Users that {{cur_user_name}} follows:</p>
                <button class="delete" aria-label="close" @click="close_modal"></button>
            </header>
            <section class="modal-card-body card_color">
                <div class="tile is-ancestor" v-for="n in following_list">
                    <div class="tile is-parent"
                        style="display:flex;align-items:center;width:100%;justify-content:space-between">
                        {{n.name}}
                        <a v-bind:href="'[[=URL()]]profile/' + n.following" class="button"
                            style="background-color:transparent;border:none;outline:none;">
                            <span class="icon"><i class="fa fa-fw fa-user"></i></span><span>Profile</span>
                        </a>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot has-background-success-dark"></footer>
        </div>
    </div>

    <div class="modal" :class="{'is-active':show_modal}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head has-background-success-dark">
                <p class="modal-card-title ">Users that have {{type}} this:</p>
                <button class="delete" aria-label="close" @click="close_modal"></button>
            </header>
            <section class="modal-card-body card_color">
                <div class="tile is-ancestor" v-for="n in names">
                    <div class="tile is-parent"
                        style="display:flex;align-items:center;width:100%;justify-content:space-between">
                        {{n.name}}
                        <a v-bind:href="'[[=URL()]]profile/' + n.id" class="button"
                            style="background-color:transparent;border:none;outline:none;">
                            <span class="icon"><i class="fa fa-fw fa-user"></i></span><span>Profile</span>
                        </a>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot has-background-success-dark"></footer>
        </div>
    </div>
</div>

[[block page_scripts]]

<script>

    let user_info_url = "[[=XML(user_info_url)]]";
    let add_post_url = "[[=XML(add_post_url)]]";
    let load_posts_url = "[[=XML(load_posts_url)]]";
    let delete_post_url = "[[=XML(delete_post_url)]]";
    let load_likes_url = "[[=XML(load_likes_url)]]";
    let get_likes_url = "[[=XML(get_likes_url)]]";
    let follow_url = "[[=XML(follow_url)]]";
    let add_comment_url = "[[=XML(add_comment_url)]]";
    let delete_comment_url = "[[=XML(delete_comment_url)]]";

    let upload_profilepic_url = "[[=XML(upload_profilepic_url)]]";

    let cur_user = "[[ =cur_user ]]";
    let cur_user_name = "[[ =cur_user_name ]]";
    let cur_user_id = "[[ =cur_user_id ]]";
    let page_id = "[[ =page_id ]]";

    let obtain_gcs_url = "[[=XML(obtain_gcs_url)]]";

</script>
<script src="js/profile.js"></script>
[[end]]